<ion-header>
  <ion-toolbar>
    <div class="container">
    <ion-title>Position Details</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="positionDetails">
  <div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
      <h3><span style="font-weight: bold">Job Title: </span> {{positionDetails.jobTitle}} </h3><br>
          <h3 ><span style="font-weight: bold" >Job Summary:</span> {{positionDetails.shortJobDescription}}</h3>

          <p>connect address service to pull in address by ID</p>
          <h3><span style="font-weight: bold" >Location:</span> {{positionDetails.addressId}}</h3><br>
          <h3><span style="font-weight: bold" >Status: </span>Open</h3><br>
          <h3><span style="font-weight: bold" >Company Website: </span>{{positionDetails.companyWebsite}}</h3><br>
          <h3><span style="font-weight: bold" >Date Posted: </span>09/08/2021</h3>
          <p>
            <span style="font-weight: bold">Job Description:</span>
            {{positionDetails.jobDescription}}
          </p>
        </div>
      </div>
    </div>
  </div>

          <div class="card-body text-center">
            <p>By getting your basic information we can move to the online Application process</p><br>Best of Luck!
            <form [formGroup]="applicantForm">

                <div class="form-group" width="100%">
                <mat-form-field class="col-md-12" appearance="fill">
                  <mat-label>{{positionDetails.jobTitle}}</mat-label>
                  <input matInput disabled value="{{positionDetails.hiringManagersName}}">
                </mat-form-field>
                    <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Government Name</mat-label>
                    <input class="form-control" matInput formControlName="fullName" autocomplete="cc-name" type="text">
                  </mat-form-field>
                    <mat-form-field class="col-md-12"  appearance="fill">
                    <mat-label>Best Email To Reach you at</mat-label>
                    <input matInput class="form-control"  formControlName="email" autocomplete="email" type="text">
                  </mat-form-field>
                    <mat-form-field class="col-md-12" appearance="fill">
                      <mat-label>Best Phone for Correspondence </mat-label>
                      <input matInput class="form-control" formControlName="phoneNumber" autocomplete="tel" type="text">
                    </mat-form-field>

                </div>
            </form>
            <button mat-raised-button class="btn-secondary-border" (click)="startApplicationProcess()" type="submit">Begin Application</button>
            <!--<app-add-applicant (messageEvent)="receiveApplicantMessage($event)" [franchiseId]="franchiseId" [storeId]="storeId" [positionId]="positionId"></app-add-applicant>-->
          </div>
        </div>

</ion-content>
