
<div class="container">
  <div class="row">
  <form class="col-md-6 offset-md-3 mt-4" [formGroup]="registerForm">
    <div class="form-group">
      <ion-item lines="full" class="mb-3">
        <ion-label position="stacked" required>Email</ion-label>
        <ion-input clearInput type="text" formControlName="email"></ion-input>
        <span class="field-err" *ngIf="registerForm.controls.email.errors?.required && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">Email is required</span>
        <span class="field-err" *ngIf="registerForm.controls.email.hasError('invalidEmail')">Invalid email address</span>
      </ion-item>
      <ion-item lines="full" class="mb-3">
        <ion-label position="stacked" required>Password</ion-label>
        <ion-input clearInput type="password" formControlName="password"></ion-input>
        <span class="field-err" *ngIf="registerForm.controls.password.errors?.required && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">Password is required</span>
      </ion-item>
      <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required> Confirm Password</ion-label>
          <ion-input clearInput type="password" formControlName="confirmPassword"></ion-input>
          <span class="field-err" *ngIf="registerForm.controls.confirmPassword.errors?.required && (registerForm.controls.confirmPassword.dirty || registerForm.controls.confirmPassword.touched)">Confirm Password is required</span>
          <span class="field-err" *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</span>
      </ion-item>
      <ion-item lines="full" class="mb-3">
        <ion-label position="stacked" required>Full Name</ion-label>
        <ion-input clearInput type="phoneNumber" formControlName="name"></ion-input>
        <span class="field-err" *ngIf="registerForm.controls.name.errors?.required && (registerForm.controls.name.dirty || registerForm.controls.name.touched)">Name is required</span>
      </ion-item>
      <ion-item lines="full" class="mb-3">
        <ion-label position="stacked" required>Phone Number</ion-label>
        <ion-input clearInput type="phoneNumber" formControlName="phoneNumber"></ion-input>
        <span class="field-err" *ngIf="registerForm.controls.phoneNumber.errors?.required && (registerForm.controls.phoneNumber.dirty || registerForm.controls.phoneNumber.touched)">Phone is required</span>
      </ion-item>
      <ion-item lines="full" class="mb-3">
        <ion-label position="stacked" required>Zipcode</ion-label>
        <ion-input clearInput type="phoneNumber" formControlName="zipCode"></ion-input>
        <span class="field-err" *ngIf="registerForm.controls.zipCode.errors?.required && (registerForm.controls.zipCode.dirty || registerForm.controls.zipCode.touched)">Zipcode is required</span>
      </ion-item>
    </div>
    <button class="mt-4" mat-raised-button (click)="registerApplicant()" color="primary">Register</button>
    <app-login-google></app-login-google>
    <p class="field-err mt-3">{{messErr}}</p>
    <p class="field-success mt-3">{{messSuccess}}</p>
  </form>
  </div>
</div>


