
<form [formGroup]="registerForm ">
      <div class="form-group col-lg-12 col-sm-12">
        <div class="row">
          <label>Email</label>
          <input  class="form-control" formControlName="email" type="text" >
        </div>
        <div class="mb-7 row">
          <input  class="form-control" formControlName="fullName" type="text" >
        </div>
        <div class="mb-7 row">
       <label >Full Name</label><button (click)="saveApplicant()" type="expand" color="primary" fill="solid" >Register</button>
        </div>
      </div>
</form>



