<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HIRENOW.US
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <div class="card-toolbar">
       <button class="btn btn-light-primary" (click)="export()">Export</button>
     </div>-->
    <div class="ion-padding container">
      <mat-form-field class="full-width" appearance="fill">
        <input matInput type="text" [(ngModel)]="searchValue" placeholder="Search for  job title, state, city" (ngModelChange)="searchChange(searchValue)">
        <mat-label>Search for a position</mat-label>
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p *ngIf="jobs.length <= 0">No Jobs for this Franchise Yet</p>
      <div *ngIf="jobs.length > 0">
        <div *ngFor="let p of jobs">
          <mat-card class="example-card">
            <div class="item-container">
              <div class="avatar-container">
                <img [src]="storeData.avatar" onerror="this.src='./../../assets/images/jimmy-johns.png';" alt="Hirenow.us">
              </div>
              <div>
                <p class="job-title">{{p.position.jobTitle}}</p>
                <p>St Louis</p>
              </div>
            </div>
            <mat-card-content>
              <p>
                {{p.position.shortJobDescription}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="openPositionDetails(p)" mat-button>Details</button>
            </mat-card-actions>
          </mat-card>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
</ion-content>
