.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('./../../assets/images/jimmy-johns.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.full-width {
  width: 100%;
}
