


<div class="container">
  <p *ngIf="onboardingForms?.length <= 0">No Package Form</p>
  <div class="mat-elevation-z8" *ngIf="onboardingForms?.length > 0">
    <div class="ion-padding container">
      <div *ngFor="let form of onboardingForms">
        <div class="dropdown-divider"></div>
        <mat-card class="example-card">
          <mat-card-content class="mb-0">
            <p>have forms filed out by start date</p>
            <p>
              {{ form.name }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="downloadForm(form.formUrl)">Download</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>


