<ion-header>
  <ion-toolbar>
    <ion-title>application-completed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
   <div class="row">
       <div class="col-md-12">
         <h1>Thanks you for completing the application for "position"</h1><br>
         <p>You will be contacted by the Hiring manager for Name of Franchise with instructions on the next steps </p>
         <ion-button (click)="logout()">Log out</ion-button>
       </div>

   </div>
  </div>
</ion-content>
